@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import "tailwindcss";


:root {
  --background: #2c1746;
  --foreground: #ffffff;
  --font-poppins: "Poppins", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;
  --font-outfit: "Outfit", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c1746;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Helvetica, sans-serif;
}

@layer components {
  .title-outfit {
    @apply font-(family-name:--font-outfit);
  }

  h2.title {
    @apply font-(family-name:--font-poppins);
  }

  h5.title {
    @apply font-(family-name:--font-poppins);
  }

  .font-inconsolata {
    @apply font-(family-name:--font-inconsolata);
  }
}

/* In your global CSS file (e.g., app/globals.css) */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;  /* For Firefox */
}